<a href="https://colab.research.google.com/github/hwangincheol/PythonStudy24/blob/master/BaseType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 프로그래밍 기초, 자료형

1. 숫자형
2. 문자열
3. 리스트
4. 튜플
5. 딕셔너리
6. 집합
7. 불

In [ ]:
# 숫자형은 정수형, 실수형, 진수형이 있다.

# 정수형(integer) : 양의 정수와 음의 정수, 숫자 0을 변수에 대입

a = 123   # 양의 정수
b = -123  # 음의 정수
c = 0     # 숫자 0

# 실수형(floating-point) : 소수점이 포함된 숫자

d = 1.2
e = -3.45

# 지수 표현방법 : 많은 수치를 짧게 표현

f = 4.24E10   # 4.24 * 10^10
g = 4.24e-10  # 4.27 * 10^-10

# 진수 표현방법
# 8진수 (옥타 : octal) -> 숫자 0에 알파벳o (대소문자 가능)

h = 0o177   # 177 8진수
print(h)    # 127 10진수

# 16진수 (헥사 : haxadecimal) -> 숫자 0에 알파벳x

i = 0x8ff   # 8ff 16진수
print(i)    # 2303 10진수

127
2303

숫자형을 활용하기 위한 연산자

1. 사칙연산 : + , - , * , /
2. 우선순위 : 괄호 -> *, / -> 앞쪽

In [ ]:
a = 3
b = 4
a + b

7

In [ ]:
a - b

-1

In [ ]:
a * b

12

In [ ]:
a / b

0.75

In [ ]:
# 제곱 처리하는 방법
a ** b  # 3^4

81

In [ ]:
# 나머지 처리하는 방법 (%)
7 % 3

1

In [ ]:
# 나눗셈 후 몫을 리턴하는 방법 (//)
7 // 4

1

In [ ]:
# 복합 연산자 +=, -=, *=, /=, //, %=, **=

a = 1
a = a + 1
print(a)

a += 1    # a = a + 1
print(a)

a -= 1
print(a)

a *= 2
print(a)

a /= 2
print(a)

a //= 2
print(a)

a %= 2
print(a)

a **= 2
print(a)

2
3
2
4
2.0
1.0
1.0
1.0

In [ ]:
# 문자열 자료형 (string) : 연속된 문자들의 나열 "" 큰따옴표

# 큰따옴표
"Hello World"

# 작은따옴표
'Hello World'

# 큰따옴표 3개를 연속으로 써서 양쪽 둘러싸기
"""Hello World"""

# 작은따옴표 3개를 연속으로 써서 양쪽 둘러싸기
'''Hello World'''

food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [ ]:
# 만약에 만자열 출력에 큰따옴표를 보여 주고 싶을 때
say = '"Python is very easy." he says.'
print(say)

"Python is very easy." he says.

In [ ]:
# 이스케이프 문자 활용하기 \n \t \r \\ 등.... (\ 역슬레시로 활용)

food = 'Python\'s favorite food is perl'
print(food)

say = "\"Python is very easy.\" he says."
print(say)

Python's favorite food is perl
"Python is very easy." he says.

In [ ]:
# 여러줄로 출력 \n 엔터 효과
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [ ]:
# 여러줄로 출력이 가능한 """
multiline = """
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

# 이스케이프 코드 종류

* \n : 문자열 안에서 줄을 바꿈
* \t : 탭 간격으로 점프
* \\ : \를 출력한다.
* \' : '를 출력한다.
* \" : "를 출력한다.
* \r : 캐리지 리턴(과거의 타자기의 효과 : 커서를 현재 줄 맨 앞으로)
* \f : 폼피드 (줄 바꿈 문자. 커서를 현재 줄의 다음 줄로 이동)
* \a : 벨소리(출력할 때 삑소리가 남)
* \b : 백 스페이스
* \000 : 널 문자

In [ ]:
# 문자열 연산자 (문자열을 더하거나 곱할 수 있다.)
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [ ]:
body = "python "
body * 5

'python python python python python '

In [ ]:
print ("=" * 30)
print("Welcome to Python World")
print ("=" * 30)

==============================
Welcome to Python World
==============================

In [ ]:
# 문자열의 길이를 구함
a = "Life is too short"
len(a)

17

In [ ]:
# 문자열 인덱싱, 슬라이싱
# 문자열은 문자를 배열로 만들어 놈(0번 인덱스 부터 적용됨)

a = "Life is too short. You need Python"
#    0               16               33
#                                -5  -1

print(a[16]) # t
print(a[33]) # n

t
n

In [ ]:
a[-1] # 문자열을 뒤에서부터 읽기위해서 - 기호를 붙임

'n'

In [ ]:
a[-2] # o

'o'

In [ ]:
a[-5] # y

'y'

In [ ]:
# 문자열 추출 하기
b = a[0] + a[1] + a[2] + a[3]
b # Life

'Life'

In [ ]:
# 슬라이싱 기법
a[0:4]  # 0 <= a < 4

'Life'

In [ ]:
a[12:17]  # short

'short'

In [ ]:
a[19:]  # 19 인덱스 부터 끝까지

'You need Python'

In [ ]:
a[:19]  # 처음부터 19 인덱스 까지

'Life is too short. '

In [ ]:
a[:]  # 처음부터 끝까지

'Life is too short. You need Python'

In [ ]:
# 슬라이싱 활용해보기

a = "20010331Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

year = a[:4]
day = a[4:8]

print(year + "년")
print(day + "일")

20010331
Rainy
2001년
0331일

In [ ]:
type(year) # 타입

str

In [ ]:
# 만약에 pithon 문자열을 만들었는데 python으로 교체가 될까?

a = "pithon"
#a[1] = 'y' # 오류

In [ ]:
b = "Pithon"
c = b[:1] + 'y' + b[2:]
c # 결론 str 타입은 수정이 안됨!! -> 메서드를 활용하던지 쪼개서 붙이던지

'Python'

In [ ]:
# 문자열 포멧팅 -> 자바에서 printf와 같은 기능
# 포멧팅은 동적 출력을 위한 기능으로 ""안에 정수나 문자열등을 추가할 때 활용
"I eat %d apples." %3
# %d는 포멧팅 코드
# 마지막에 있는 %는 동적 값을 삽입 한다.

'I eat 3 apples.'

In [ ]:
"I eat %s apples." %"five"
# %s는 문자열이 동적으로 삽입 됨
# 마지막에 % 뒤에는 문자열을 넣어야 함으로 "", '' 처리를 해야 한다.

'I eat five apples.'

In [ ]:
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

In [ ]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number, day)
# 동적 매개 값을 2개 이상 넣고 싶으면 괄호안에 쉼표로 넣음
# 단, 순서와 타입은 맞출 것

'I ate 10 apples. so I was sick for three days.'



*   %s : 문자열(String)
*   %d : 정수(Integer)
*   %c : 문자(character) -> 1개 문자
*   %f : 실수(부동소수점)
*   %o : 8진수
*   %x : 16진수

In [ ]:
# 파이썬의 장점 %s는 정수나 실수를 자동타입으로 문자열 변환함
"I have %s apples" %3

'I have 3 apples'

In [ ]:
"rate is %s" %3.234

'rate is 3.234'

In [ ]:
# 문자열안에 %를 넣고 싶을 때 -> Error is %98.
# "Error is %d%." %98 # 오류

In [ ]:
"Error is %d%%." %98  # 확률을 출력할 때 %는 예약어로 2번써야(%%) 문자열 처리 됨

'Error is 98%.'

In [ ]:
# 포멧팅 숫자 처리 (문자는 기본적으로 왼쪽 정렬, 숫자는 오른쪽 정렬)
"%-10s MBC ai" %"hi" # -10 문자열 10칸을 여백으로 생성하고 그 안쪽에 문자를 왼쪽 정렬하여 넣음

'hi         MBC ai'

In [ ]:
# 소수점 포멧팅
"%10.4f" %33333333333.1415937  # 0.4는 소수점 4자리까지 출력(반올림)
# 정수쪽 10은 기본 자리수가 10자리지만 넘치면 알아서 늘려줌

'33333333333.1416'

In [ ]:
# 포멧팅에 가독성을 높이기 위해서 .format()메서드를 만들어 놓았다.

"I eat {0} apples".format(3)

'I eat 3 apples'

In [ ]:
"I eat {0} apples".format("five")

'I eat five apples'

In [ ]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [ ]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [ ]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [ ]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [ ]:
"MBC AI {0:^10} PYTHON".format("hi")  # < 왼쪽, > 오른쪽, ^ 가운데 정렬

'MBC AI     hi     PYTHON'

In [132]:
"{0:=^10}".format("hi") # 공백에 =를 채우고 hi는 가운데 정렬

'====hi===='

In [133]:
"{0:!<10}".format("hi") # 공백에 !를 채우고 hi는 왼쪽 정렬

'hi!!!!!!!!'

In [135]:
# 소수점 표현하기
y = 3.987654321
"{0:10.4f}".format(y) # 총 자리수 10자리 중에 소수점은 4자리로 출력

'    3.9877'

In [137]:
# { 문자 } 출력 하고 싶을 때
"{{ 문자 }}".format()
# 예약 기호를 2번 연속 기입하면 문자형태로 출력 가능

'{ 문자 }'

In [153]:
# 파이썬 3.6 이상 버전의 최신 포멧팅
# .format() 메서드를 사용하지 않는 기법 -> 접두사로 f를 기입

name = "홍길동"
age = 30

text = f"""나의 이름은 {name}입니다.
나이는 {age + 5}입니다."""

print (text)

나의 이름은 홍길동입니다.
나이는 35입니다.

In [154]:
# 딕셔너리를 활용한 포멧팅 ( key : value )
d = {"name":"홍길동", "age":30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [158]:
f'{"hi":<10}'

'hi        '

In [161]:
f'{"hi":=^10}'

'====hi===='

In [172]:
y = 3.42134234
f'{y:_>10.4f}'

'____3.4213'

In [173]:
# { 문자 } 로 출력하고 싶을 때
f'{{ 문자 }}'

'{ 문자 }'