<a href="https://colab.research.google.com/github/hwangincheol/PythonStudy24/blob/master/ListType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

테이블 자료 처리 : 각각의 객체를 모아서 처리하는 용도

*   리스트 자료형
*   튜플 자료형
*   딕셔너리 자료형
*   집합 자료형

In [ ]:
# 리스트 자료형 : 대괄호를 이용하여 감싸고 쉼표로 요로를 구분함.

odd = [1, 3, 5, 7, 9] # 자바의 배열과 유사하나 배열은 초기 행렬값을 갖는다.(배열의 크기조정 불가) -> arraylist

a = [] # 빈 리스트 a = list ()도 가능
b = [1, 2, 3]  # 정수형 리스트
c = ['Life', 'is', 'too', 'short'] # 문자열 리스트
d = [1, 2, 'Life', 'is'] # 혼합 리스트
e = [1, 2, ['Life', 'is']] # 중첩 리스트

In [4]:
# 리스트 인덱싱
a = [1, 2, 3]
print(a[0]) # a리스트의 0번 인덱스를 출력

1

In [5]:
a[0] + a[2]

4

In [6]:
a[-1] # 마지막 요소값

3

In [12]:
a = [1, 2, 3, ['a', 'b', 'c']] # 2차원 배열
a[-1][2]  # 2차원 배열을 출력하려면 [행][열]

'c'

In [15]:
# 3차원 배열 -> 사진이나 영상 처리, 게임 (가로x세로 -> 픽셀, 깊이 -> RGB컬러)
member = [["김기원", ["교사", 312]], ["김지선", ["학생", 312]], ["윤인영", ["학생2", 311]], ["육진", ["학생3", 313]]]
member[1][1][1]

312

In [17]:
# 리스트 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [18]:
a[:2] # 처음부터 2번 인덱스 전까지

[1, 2]

In [19]:
a[2:] # 2번부터 마지막까지

[3, 4, 5]

In [21]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [22]:
a[3][1:]

['b', 'c']

In [25]:
# 리스트 연산 :  + , *를 활용할 수 있다.
a = [1, 2, 3]
b = [4, 5, 6]
a + b # 문자열의 + 계산과 유사함

[1, 2, 3, 4, 5, 6]

In [26]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
# 리스트의 길이 구하기
len(a)

3

In [31]:
# 리스트에 글자 추가하기
a = [1, 2, 3]
# a[2] + "hi" # 3hi ???? (타입 오류)

In [33]:
str(a[2]) + "hi"  # str(정수) -> 정수가 문자열로 변환 "3" + "hi"

'3hi'

In [49]:
# 리스트 값 수정, 삭제
a = [1, 2, 3]
a[2] = 4
print(a)

[1, 2, 4]

In [50]:
del a[2]  # del 명령어는 객체를 삭제하는 명령어
a

[1, 2]

In [53]:
a = [1, 2, 3, 4, 5]
del a[2:] #remove, pop 함수도 제거용
a

[1, 2]

In [59]:
# 리스트 관련 함수

# .append() 이미 만들어진 리스트에 객체를 추가할 때
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [60]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [68]:
# sort() : 리스트 요소를 정렬 해준다.
a = [1, 4, 3, 2]
a.sort()  # 오름차순 정렬
a

[1, 2, 3, 4]

In [69]:
a.reverse() # 내림차순 정렬
a

[1, 2, 3, 4]

In [71]:
b = ['z', 'b', 'd', 'g', 'k']
b.sort()
b

['b', 'd', 'g', 'k', 'z']

In [72]:
c = ["김기원", "김지선", "윤인영", "육진"]
c.sort()
c

['김기원', '김지선', '육진', '윤인영']

In [73]:
# 인덱스 반환 .index(값)

a = [1, 2, 3]
a.index(3)

2

In [74]:
a.index(1)

0

In [76]:
# a.index(4) # 값 오류

In [78]:
# 리스트에 요소 삽입 .insert(인덱스, 값)
a = [1, 2, 3]
a.insert(0, 4)  # 0번지에 4값을 추가하고 기존 값은 인덱스가 밀림
a

[4, 1, 2, 3]

In [79]:
a.insert(3, 5)  # 3번지에 5값을 추가하고 기존값은 인덱스가 밀림
a

[4, 1, 2, 5, 3]

In [80]:
a.remove(3) # .remove(값) 값이 제거 된다.
a

[4, 1, 2, 5]

In [81]:
b = [3, 1, 3, 1, 13, 1, 3, 1]
b.remove(3) # 3이 여러개 일때는 앞에 쪽에 있는 요소만 제거된다.
b # [1, 3, 1, 13, 1, 3, 1]

[1, 3, 1, 13, 1, 3, 1]

In [82]:
b.remove(3)
b # [1, 1, 13, 1, 3, 1]

[1, 1, 13, 1, 3, 1]

In [83]:
# 리스트 요소 끄집어 내기 .pop(인덱스)
c = [1, 2, 3, 4, 5, 6]
c.pop() # 6

6

In [84]:
c # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [85]:
c.pop(3) # 4

4

In [87]:
c # [1, 2, 3, 5]

[1, 2, 3, 5]

In [89]:
d = [3, 13, 13, 13, 33, 11, 3, 1, 3, 3, 1, 3]
d.count(3)  # 값이 몇개 인지

5

In [90]:
len(d)

12

In [91]:
# 리스트 확장 : extend(x) x는 리스트만 올 수 있으며 a[] + x[]
e = [1, 2, 3]
e.extend([4, 5])
e

[1, 2, 3, 4, 5]

In [95]:
f = [6, 7, 8]
e.extend(f)
e

[1, 2, 3, 4, 5, 6, 7, 8]