<a href="https://colab.research.google.com/github/hwangincheol/PythonStudy24/blob/master/SetType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

집합 자료형

집합(set)은 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형이다.

In [1]:
# 집합 자료형은 set()을 사용해 만들 수 있다.
s1 = set([1, 2, 3]) # set() 괄호 안에 리스트를 입력하여 만들 수도 있음
print(s1)

{1, 2, 3}

In [3]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [4]:
# 비어 있는 집합 자료형은 s = set()로 만들 수 있다.

In [6]:
s = set()
s

set()

집합 자료형의 특징

분명 "Hello" 문자열로 set 자료형을 만들었는데 생성된 자료형에는 l 문자가 하나 빠져 있고 순서도 뒤죽박죽이다. 그 이유는 set에 다음과 같은 2가지 특징이 있기 때문이다.

*   중복을 허용하지 않는다.
*   순서가 없다(Unordered).

리스트나 튜플은 순서가 있기(ordered) 때문에 인덱싱을 통해 요솟값을 얻을 수 있지만, set 자료형은 순서가 없기(unordered) 때문에 인덱싱을 통해 요솟값을 얻을 수 없다. 딕셔너리 역시 순서가 없는 자료형이므로 인덱싱을 지원하지 않는다.

In [7]:
# 만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후에 해야 한다.

s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

In [8]:
l1[0]

1

In [9]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [10]:
t1[0]

1

In [11]:
# 교집합, 합집합, 차집합 구하기

s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [12]:
# 교집합 구하기 &, .intersection()
s1 & s2

{4, 5, 6}

In [13]:
s1.intersection(s2)

{4, 5, 6}

In [14]:
# 합집합 구하기 |, .union()
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
# 차집합 구하기 -, .difference()
s1 - s2

{1, 2, 3}

In [19]:
s2 - s1

{7, 8, 9}

In [17]:
s1.difference(s2)

{1, 2, 3}

In [18]:
s2.difference(s1)

{7, 8, 9}

In [20]:
# 집합 자료형 관련 함수

# 값 1개 추가하기 .add()
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [22]:
# 값 여러 개 추가하기 .update()
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [23]:
# 특정 값 제거하기 .remove()
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}