<a href="https://colab.research.google.com/github/hwangincheol/PythonStudy24/blob/master/%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

자료형의 값을 저장하는 공간, 변수

In [3]:
# a, b, c를 '변수'라고 한다.
a = 1
b = "python"
c = [1, 2, 3]

# 변수_이름 = 변수에_저장할_값

In [4]:
# 파이썬에서 사용하는 변수는 객체를 가리키는 것
a = [1, 2, 3] # [1, 2, 3] 값을 가지는 리스트 데이터(객체)가 자동으로 메모리에 생성되고 변수 a는 [1, 2, 3] 리스트가 저장된 메모리의 주소를 가리키게 된다.

In [5]:
# a 변수가 가리키는 메모리의 주소
a = [1, 2, 3]
id(a) # id()는 변수가 가리키고 있는 객체의 주소 값을 리턴하는 파이썬의 내장 함수이다.

136507952716928

In [8]:
# 리스트를 복사하고자 할 때
a = [1, 2, 3]
b = a # a를 b에 대입했을때 a와 b는 완전히 동일
print (id(a))
print (id(b))

136507951276928
136507951276928

In [9]:
a is b # a와 b가 가리키는 객체가 같음

True

In [10]:
a[1] = 4
a

[1, 4, 3]

In [11]:
b # a리스트의 두 번째 요소를 바꾸면 b도 바뀐다

[1, 4, 3]

136507951276928
136507951276928

In [14]:
# 그렇다면 b 변수를 생성할 때 a 변수의 값을 가져오면서 a와는 다른 주소를 가리키도록 만들 수는 없을까?

# 1. [:] 이용하기
a = [1, 2, 3]
b = a[:]
a[1] = 4
a

[1, 4, 3]

In [15]:
b

[1, 2, 3]

In [17]:
# 2. copy 모듈 이용하기
from copy import copy
a = [1, 2, 3]
b = copy(a) # b = copy(a)는 b = a[:]과 동일

In [18]:
b is a

False

In [19]:
# copy 함수 사용하기
a = [1, 2, 3]
b = a.copy()
b is a

False

In [20]:
# 변수를 만드는 여러 가지 방법

a, b = ('python', 'life')
print (a)
print (b)

python
life

In [21]:
(a, b) = 'python', 'life' # a, b = ('python', 'life')와 동일
# 튜플은 괄호 생각해도 됨
print (a)
print (b)

python
life

In [22]:
# 리스트로 만들 수도 있음
[a, b] = ['python', 'life']
print (a)
print (b)

python
life

In [25]:
# 여러개의 변수에 같은 값을 대입할 수도 있음
a = b = 'python'
print (a)
print (b)

python
python

In [26]:
# 파이썬에서는 위 방법을 사용하여 두 변수의 값을 간단하게 바꿀 수 있다.
a = 3
b = 5
a, b = b, a
print (a)
print (b)

5
3